<title>Reset Password</title>
<div class="content_body">
	<h1>Reset Password</h1>
	<%= simple_form_for(:password_reset, url: password_resets_path) do |f| %>
		<%= f.input :email %>
		<%= f.submit "Rest Password" %>
	<% end %>	
</div>
<div class="clear"></div>