<h1>Thanks for your purchase</h1>
<p>Hello <%= @user.name %>,</p>
<p>Thank you for making your purchase of 1 legacy file. You are able to create a legacy file now if you have not done so already. Now that you have have a legacy, you can create one under your profile page.</p>
<p>Please accept our condolences for your loss. In times of loss, we understand the pain that it can cause. We wish you well and hope that this memorial legacy page can help honor and remember the one who has passed on.</p>