<head>  
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-5747721026724829",
      enable_page_level_ads: true
    });
  </script>
</head>
<h1>How to create and activate your account:</h1>
<p>You will only need to create and activate your account if you are wanting to create a legacy, or if you would like to comment on others legacy files. On our menu, we seperate the account options from the site options. Your account options are all on the top left corner of the website.</p> 

<ol>
	<li>Click on the <strong><%= link_to "Sign Up", signup_path %></strong> link.</li>
	<li>Enter your <strong>Name</strong>, <strong>Avatar</strong>, <strong>Email</strong>, <strong>Password</strong>, and <strong>Password Confirmation</strong> - Avatar is just an image file that is added by clicking the Choose File button.</li>
	<li>Click <button>Create Account</button></li>
	<li>Go to your email inbox to get your Activation email.</li>
	<li>Click the link inside the email Activate.</li>
	<li>After you click the activate, your account is created and activated. <strong>Your all set!</strong></li>
</ol>

