<h1>How to create and activate your account:</h1>
<p>You will only need to create and activate your account if you are either wanting to create legacy files(pages), or if you would like to comment on others legacy files(pages). On our menu, we seperate the account options from the site options. Your account options are all on the top left corner of the website.</p> 

<ol>
	<li>Click on the <strong>Sign Up</strong> link.</li>
</ol>

