<head>  
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-5747721026724829",
      enable_page_level_ads: true
    });
  </script>
</head>
<h1>Help Desk</h1>
<p>Here you will find answers to questions that you may have, if you do not see your question here, then please use the form below to ask your question. We will get back to any requests as soon as possible. Thank you.</p>

<ol>
	<li><%= link_to "How do I create and activate my account?", help_accounts_path %></li>
	<li><%= link_to "How do I create a legacy?", help_legacies_path %></li>
	<li><%= link_to "What are memories, and how do I create use them?", help_memories_path %></li>
</ol>
<p>If your not seeing the answer you are looking for, please <%= link_to "Contact us", help_contact_us_path %> with your question.</p>
