<h1>Help Desk</h1>
<p>Here you will find answers to questions that you may have, if you do not see your question here, then please use the form below to ask your question. We will get back to any requests as soon as possible. Thank you.</p>

<ol>
	<li><%= link_to "How do I create and activate my account?", help_accounts_path %></li>
</ol>
