<h1>How to create a legacy</h1>
<p>After you have created and activated your account and log in, it takes you to your <strong>Profile</strong> page.</p>
<p><%= image_tag("profile_page_on_account_creation.png") %></p>
<ol>
	<li>Click on "New Legacy" link to create your new legacy. - This link will only be available to click if you have an unused legacy.</li>
	<li>Using the form that is displayed, enter the <strong>Name</strong>, a <strong>Photo</strong>, <strong>Birth Day</strong>, <strong>Passed On</strong> date, <strong>State</strong>, <strong>County</strong>, <strong>City</strong>, and under the <strong>About</strong> you will enter information that will describe who your legacy was. In many cases, this can just be their obituary. You may want to use their obituary and other information that you feel is relevant to describe who the legacy was.</li>
	<li>Click the <button>Create Legacy</button></li>
</ol>