<h1>Memories</h1>
<p>Memories on Legacy files are just photos of the legacy, or photos of family members. You can use any photo that has a memory involving the legacy.</p>
<p>Some memories are even pictures that may have been taken out the funeral itself.</p>
<p>To add memories to a legacy, you would have to start by being on the legacy page.</p>
<p><strong>Max number of memories per legacy - </strong> Each legacy is allowed 10 memories.</p>


<ol>
	<li>On the top right corner of the legacy page, will be the link to "Add memory". Click this link.</li>
	<li>You will then be directed to the legacies memories page. On this page, choose a file to upload.</li>
	<li>Click on the button <button>Create Memory</button></li>
</ol>