<div class="content_body">
	<title>Legacy Files</title>
	<h1>The Future is Here</h1>
	<h3>Legacy Files is pleased to bring you the new age of memorializing the ones we love.</h3>
	<p>
		Much of the world has used technology in a way to become more mobile, and families sometimes grow apart do to this. None the less, Legacy Files is still working on ways of preserving the memories and legacies of our loved ones. We now have a place where loved ones can be honored and remembered forever. Future generations will know exactly who we were and what we did to get to where they are in the future.
	</p>
	<h3>How it works:</h3>
	<p>
		With Legacy Files, we allow users to build and maintain the legacy of their loved ones as they see fit. You are able to create your own user account for free. With a user account, you are able to create your own legacy pages, and leave comments on others legacy pages. Legacies contains information you and friends can add about your loved one, such as: thier obituary, photos, comments by friends and relatives. Currently, you will get +1 free legacy file when you sign up and activate, and the price of each legacy after the free one is only <strong>$18.00</strong>, on sale from the regular price of $89.99. So <%= link_to("Sign Up", new_user_path) %> now, for your one free legacy!
	</p>	
</div>
<div class="column_right">
	
</div>
<div class="clear"></div>
