  <div class="memories">
    <div class="col-sm-3">
    <% if current_user == @legacy.user %>
      <% if @legacy.memories.count <= 0 %>
        Currently your legacy has no memories. To get the legacy page to show images here, click this "New Memory" link below.<br /> 
      <% end %>
      <%= link_to "New Memory", new_memory_path(legacy_id: @legacy.id) %><br />
    <% end %>
    <% if @legacy.memories.present? %>
      <% @legacy.memories.each do |memory| %>
        <td><%= image_tag memory.photo.url %></td>
          <script type="text/javascript">
            var currentIndex = 0;
            var allImages = document.getElementsByTagName("img");

            function showImage(index) {
              for (var i=0; i<allImages.length; i++) { 
                var img = allImages.item(i);
                img.className = 'hidden';
              }
              
              var currentImage = allImages.item(index);
              currentImage.className = 'showing';
            }

            (function slideshow() {
              showImage(currentIndex);
              currentIndex = (currentIndex + 1) % allImages.length;
              setTimeout(slideshow, 10000);
            })();
          </script>
      <% end %>
    <% end %>
  </div>
</div>  
<div class="clear"></div>