
  <div class="memories">
    <% if @legacy.memories.present? %>
      <% @legacy.memories.each do |memory| %>
        <td><%= image_tag memory.photo.url %></td>
          <script type="text/javascript">
            var currentIndex = 0;
            var allImages = document.getElementsByTagName("img");

            function showImage(index) {
              for (var i=0; i<allImages.length; i++) { 
                var img = allImages.item(i);
                img.className = 'hidden';
              }
              
              var currentImage = allImages.item(index);
              currentImage.className = 'showing';
            }

            (function slideshow() {
              showImage(currentIndex);
              currentIndex = (currentIndex + 1) % allImages.length;
              setTimeout(slideshow, 5000);
            })();
          </script>
      <% end %>
    <% end %>      
  </div>  
