<div class="container_body">
	<div class="content_body">
		<h1>Editing Legacy</h1>

		<%= render 'edit_form', legacy: @legacy %>

		<%= link_to 'Show', @legacy %> |
		<%= link_to 'Back', legacies_path %>		
	</div>
</div>

