<head>  
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-5747721026724829",
      enable_page_level_ads: true
    });
  </script>
</head>
<h1>New Legacy</h1>

<%= render 'form', legacy: @legacy %>

<%= link_to 'Back', legacies_path %>


