<head>  
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-5747721026724829",
      enable_page_level_ads: true
    });
  </script>
</head>
<div class="content_body">
	<h1>Editing Memory</h1>

	<%= render 'form', memory: @memory %>

	<%= link_to 'Show', @memory %> |
	<%= link_to 'Back', :back %>
</div>
