
<!--Footer-->
<footer class="page-footer font-small stylish-color-dark pt-4 mt-4" style="background-color: #bdbdbd;">

    <!--Footer Links-->
    <div class="container text-center text-md-left">
        <div class="row">

            <!--First column-->
            <div class="col-md-4">
                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">My Legacy Files</h5>
                <div class="fb-like" data-href="https://www.facebook.com/MyLegacyFiles/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                <br><br>
                <p>Here at <a href="https://www.mylegacyfiles.com">MyLegacyFiles.com</a> we know that life us the most precious asset we have. We also know how terrible it is when someone we care about loses theirs. It takes time, but the pain does get easier to manage. Under <strong>Gried</strong> on these links are some places that may be able to help you through this time.</p>
            </div>
            <!--/.First column-->

            <hr class="clearfix w-100 d-md-none">

            <!--Second column-->
            <div class="col-md-2 mx-auto">
                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Grief</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.wikihow.com/Deal-With-Death" target="_blank">Mourning Death</a>
                    </li>
                    <li>
                        <a href="http://www.chicagotribune.com/lifestyles/sc-deal-with-death-first-time-family-0216-20160211-story.html" target="_blank">Chicago Tribune</a>
                    </li>
                    <li>
                        <a href="https://www.washingtontimes.com/news/2017/may/1/health-how-deal-death-loss-grief-bereavement/" target="_blank">Stages of Grief</a>
                    </li>
                    <li>
                        <a href="https://www.betterhelp.com/helpme/?utm_source=AdWords&utm_medium=Search_PPC_c&utm_term=help+with+grief_e&utm_content=42801117506&network=g&placement=&target=&matchtype=e&utm_campaign=849308107&ad_type=text&adposition=1t1&gclid=Cj0KCQjw8MvWBRC8ARIsAOFSVBVAfW4vVl4wL4phSgh73GUVceXJzK_Kwu2oUUACr24Z12sUJpAXZSgaAmRyEALw_wcB&not_found=1&gor=helpme&klove_go_exp=y&klove=1">Online Help</a>
                    </li>
                </ul>
            </div>
            <!--/.Second column-->

           <hr class="clearfix w-100 d-md-none">

            <!--Third column-->
            <div class="col-md-2 mx-auto">
                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Our Site</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="/help">Help</a>
                    </li>
                    <li>
                        <a href="/help/contact_us">Contact us</a>
                    </li>
                </ul>
            </div>
            <!--/.Third column-->

            <hr class="clearfix w-100 d-md-none">

            <!--Fourth column-->
            <div class="col-md-2 mx-auto">
                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Partners</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="/help/contact_us">Become a partner</a>
                    </li>
                </ul>
            </div>
            <!--/.Fourth column-->
        </div>
    </div>
    <!--/.Footer Links-->
<% unless logged_in? %>
    <hr>

    <!--Call to action-->
    <div class="text-center py-3">
        <ul class="list-unstyled list-inline mb-0">
            <li class="list-inline-item">
                <h5 class="mb-1">Register for free</h5>
            </li>
            <li class="list-inline-item">
                <a href="/signup" class="btn btn-danger btn-rounded">Sign up!</a>
            </li>
        </ul>
    </div>
    <!--/.Call to action-->
<% end %>
    <hr>

    <!--Social buttons-->
    <div class="text-center">
        <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
                <a class="btn-floating btn-lg btn-fb mx-1" href="https://www.facebook.com/MyLegacyFiles/" style="color: black;" target="_blank">
                    <i class="fa fa-facebook"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-lg btn-tw mx-1" href="https://twitter.com/MyLegacyFiles" target="_blank" style="color: black;">
                    <i class="fa fa-twitter"> </i>
                </a>
            </li>
        </ul>
    </div>
    <!--/.Social buttons-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        <a href="https://www.mylegacyfiles.com"> MyLegacyFiles.com </a>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
                      