<!DOCTYPE html>
<html>
  <head></head>
  <body>
  	<H1>Do Not Use This - Still under construction</H1>
  	<p>If you use this checkout option, you will be charged $5.00, and you will not receive anything for this. Later, you will be able to purchase Legacies here. But for now, if you use this, it will only charge you $5.00. Thanks for the understanding, please be patient, the Legacies will be able to be purchased soon.</p>
    <%= yield %>
  </body>
</html>